<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edushare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="Home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body>
    <div class="row" style="height: 10%;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navcss" style="position: sticky; padding: 0px;">
            <a style="margin-left: 30px;" class="navbar-brand logo" href="/">
                <h1 class="text-dark" style="font-family: 'Brush Script MT', cursive;">Edushare</h1>
            </a>

            <div style="display : flex">
                <form method="get" action="/search" class="d-flex">
                    <input type="text" class="form-control" name="keyword" placeholder="Search"
                        style="margin-right: 10px;">
                    <button class="bi bi-search bg-light text-secondary"
                        style="margin-right: 20px; border-radius: 9px; border: 1px solid grey"></button>
                </form>
            </div>

        </nav>
    </div>
    <div class="row menuandvideos d-flex flex-sm-row flex-md-row flex-lg-row flex-xl-row flex-column-reverse"
        style="height: 90%;">

        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-12 bg-light menu" id="menu">
            <!-- Home -->
            <a href="/" class="d-flex justify-content-start"
                style="text-decoration: none; color: black; margin-top: 10px;">
                <div class="menubutton" style="margin-left: 20px;">
                    <div class="bi bi-house-door-fill d-flex justify-content-center" style="margin-top: 3px;"></div>
                    <h6 class="d-flex justify-content-center menutext">Home</h6>
                </div>
            </a>

            <!-- Library -->
            <a href="/library" class="d-flex justify-content-start"
                style="text-decoration: none; color: black; margin-top: 10px;">
                <div class="menubutton" style="margin-left: 20px;">
                    <div class="bi bi-book-half d-flex justify-content-center" style="margin-top: 3px;"></div>
                    <h6 class="d-flex justify-content-center menutext">Library</h6>
                </div>
            </a>

            <!-- Log Out  -->

        </div>


        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9 col-xs-12 videobar bg-light overflow-auto" id="videos">

            <script>


                $.post('/loggedin', (result) => {
                    var a = document.createElement("a");
                    var div = document.createElement("div");
                    var div2 = document.createElement("div");
                    var h6 = document.createElement("h6");

                    a.setAttribute("class", "d-flex justify-content-start");
                    a.setAttribute("style", "text-decoration: none; color: black; margin-top: 10px;");

                    div.setAttribute("class", "menubutton");
                    div.setAttribute("style", "margin-left: 20px");

                    div2.setAttribute("style", "margin-top: 3px;");

                    h6.setAttribute("class", "d-flex justify-content-center menutext");
                    if (result) {
                        a.setAttribute("href", "/logout");
                        div2.setAttribute("class", "bi bi-box-arrow-in-left d-flex justify-content-center");
                        h6.innerHTML = "Log Out";
                    } else {
                        a.setAttribute("href", "/login");
                        div2.setAttribute("class", "bi bi-box-arrow-in-right d-flex justify-content-center");
                        h6.innerHTML = "Login";
                    }
                    div.appendChild(div2);
                    div.appendChild(h6);
                    a.appendChild(div);

                    document.getElementById("menu").appendChild(a);
                });
                async function addvideocontainer() {
                    data = await $.post('/getrandomvideoscontainer', async (result) => {
                        var video_container = document.createElement("div");
                        video_container.setAttribute("class", "video_container row");
                        for (i = 0; i < result.length; i++) {
                            var videobar = document.createElement("a");
                            var div1 = document.createElement("div");
                            var div2 = document.createElement("div");
                            var img = document.createElement("img");
                            var div3 = document.createElement("div");
                            var div4 = document.createElement("div");
                            var title = document.createElement("h6");
                            var uploader = document.createElement("p");
                            var views = document.createElement("p");
                            var date = document.createElement("p");

                            // set videobar content
                            videobar.setAttribute("href", "/video?id=" + result[i].id);
                            videobar.setAttribute("class", "col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3");
                            videobar.setAttribute("style", "text-decoration: none; margin-top: 10px; margin-bottom: 10px");

                            div1.setAttribute("class", "bg-secondary");
                            div1.setAttribute("style", "margin-top: 5px; height:100%; border-radius: 9px");

                            div2.setAttribute("class", "card bg-light");
                            div2.setAttribute("style", "width: 100%; padding: 5px; height:100%");

                            if (result[i].video_type == 'ytube')
                                img.setAttribute("src", "https://i.ytimg.com/vi/" + result[i].link_thumbnil + "/sddefault.jpg");
                            else
                                img.setAttribute("src", "/thumbnil?id=" + result[i].id + "." + result[i].link_thumbnil);
                            img.setAttribute("class", "card-img-top");
                            img.setAttribute("style", "height:70%; border-radius: 5px");

                            div3.setAttribute("class", "card-body bg-light");
                            div3.setAttribute("style", "color:white; padding-bottom:10px; height:30%");

                            views.setAttribute("style", "color:grey;font-size:11px");
                            views.innerText = result[i].video_views * 1 + " Views";

                            date.setAttribute("style", "color:grey;font-size:11px;");
                            var d = new Date(result[i].upload_date);
                            date.innerText = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear();

                            div4.setAttribute("class", "d-flex justify-content-between");
                            div4.appendChild(views);
                            div4.appendChild(date);
                            div4.setAttribute("style", "height:40%; padding-bottom:5px");

                            title.innerText = result[i].title;
                            title.setAttribute("style", "height:40%; color: black");

                            uploader.setAttribute("style", "color:grey; font-size:14px; height:20%")
                            uploader.innerText = "By " + result[i].username;

                            div3.appendChild(title);
                            div3.appendChild(uploader);
                            div3.appendChild(div4);

                            div2.appendChild(img);
                            div2.appendChild(div3);

                            div1.appendChild(div2);

                            videobar.appendChild(div1);
                            video_container.appendChild(videobar);
                        }
                        document.getElementById('videos').appendChild(video_container);

                    });
                    return true;
                }


                window.onload = async function onloadfunction() {
                    await addvideocontainer();
                    await addvideocontainer();
                }


                document.getElementById('videos').addEventListener("scroll", addcontent);
                async function check() {
                    var end = document.getElementById('videos').scrollHeight - document.getElementById('videos').clientHeight;
                    if (document.getElementById('videos').scrollTop >= end - 5) {
                        await addvideocontainer();
                    }
                    return true;
                }

                async function addcontent() {
                    await check();
                }
            </script>

        </div>
    </div>
</body>

</html>